.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #787a80;
}

h1 {
  font-size: 3rem;
}

ul {
  list-style: none;
  text-align: left;
  padding: 15px;
  background: #171a1f;
  border-radius: 5px;
}

input {
  height: 40px;
  width: 50%;
  border: none;
  border-bottom: 2px #101113 solid;
  background: none;
  font-size: 1.5rem;
  color: #787a80;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

header {
  margin: 1rem;
  display: flex;
  width: 100%;
}
.logo-container{
  font-size: larger;
  font-weight: 400;
  flex: 8;
  text-align: left;
  vertical-align: middle;
}
.homepageLogo {
  opacity: 0.8;
}
.homepageLogo:hover {
  transform: scale(1.1);
}
.menu-container{
  flex: 2;
  text-align: right;
}

.course-input {
  margin: 2rem;
}

@media only screen and (min-width: 300px) {
  .App {
    width: 80%;
  }

  input {
    width: 100%
  }

  button {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
  }
}

@media only screen and (min-width: 640px) {
  .App {
    width: 60%;
  }

  input {
    width: 50%;
  }

  button {
    width: 30%;
    margin-left: 10px;
    margin-top: 0;
  }
}
